<div class="container-fluid">
	<h3>Edit User {{user.username}}</h3>

	{{! These errors are parsed by default.js }}
	{{#errors}}
		<input type="hidden" data-error="true" data-field="{{field}}" data-message="{{defaultMessage}}" />
	{{/errors}}

	{{>fragments/forms/user/user_save_error}}

	<form role="form" class="form" method="post" action="{{req.contextPath}}/admin/user/edit">
		<input type="hidden" id="contextPath" value="{{req.contextPath}}/admin/user/list" />
		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-12">
				{{>fragments/forms/required_message}}
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-12">
				<h4>User Details</h4>
				{{>fragments/forms/user/id}}
				{{>fragments/forms/user/username_for_edit}}
				{{>fragments/forms/user/first_name}}
				{{>fragments/forms/user/last_name}}
				{{>fragments/forms/user/institution}}
				{{>fragments/forms/user/email}}
				<h4>User Roles</h4>
				{{>fragments/forms/user/user_roles}}
			</div>
			<div class="col-lg-1 col-md-1">
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12">
				<h4>Account Status</h4>
				{{>fragments/forms/user/enabled}}
				{{>fragments/forms/user/account_locked}}
				{{>fragments/forms/user/account_expired}}
				{{>fragments/forms/user/credentials_expired}}
				{{>fragments/forms/user/account_expiration_date}}
				{{>fragments/forms/user/credentials_expiration_date}}
				{{>fragments/forms/user/consecutive_login_failures}}
			</div>
			<div class="col-lg-5 col-md-5">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				{{>fragments/forms/save_cancel_buttons}}
			</div>
		</div>
	</form>
</div>
