<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>List of Users</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/media/css/dataTables.bootstrap.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/default.css}" />
	</head>
	<body>
		<nav th:replace="fragments/navbar :: navbar"/>
		<div th:replace="fragments/admin/user/list :: list" />
		<div th:replace="fragments/assets :: javascript" />
	</body>
</html>
