<h6>Password Requirements</h6>
<ul class="pl-0 small text-muted">
	<li class="list-unstyled mb-2"><strong>Must include:</strong>
		<ul class="pl-4">
			<li class="pl-0">At least 8 characters</li>
			<li class="pl-0">A number</li>
			<li class="pl-0">A letter</li>
			<li class="pl-0">An additional capital letter <strong>OR</strong> a special character: <code>space ! " # $ % & ' ( ) * + , - . / : ; < = > ? @ \ ^ _ ` { | } ~</code>
		</ul>
	</li>
	<li class="list-unstyled"><strong>Do not:</strong>
		<ul class="pl-4">
			<li>Include your username</li>
			<li>Use your previous password</li>
			<li>Include words found in any dictionary (including medical, foreign language)</li>
		</ul>
	</li>
</ul>