<h6>Password Requirements</h6>
<ul class="list-unstyled small text-muted">
    <li>Minimum 8 characters</li>
	<li>Different from previous password</li>
	<li>Must not contain your username</li>
    <li>Must include:
    	<ul>
    		<li>A number</li>
    		<li>A letter</li>
    		<li>An additional capital letter -OR- a special character: <code>! " # $ % & ' ( ) * + , - . / : ; < = > ? @ \ ^ _ ` { | } ~</code>
    	</ul>
    </li>
</ul>
<p class="small text-muted">Example: My$ecr3t</p>