<div class="container-fluid">
	 <div class="col-xs-12 col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
		<h3>Reset Password</h3>
		<form class="form" action="{{req.contextPath}}/user/password/reset" method="POST">
			{{#error}}
			<div class="alert alert-danger">
				There was an unexpected error while resetting your password. 
				If this persists you may <a href="{{req.contextPath}}/user/password/forgot">send another request</a>.
			</div>
			{{/error}}

			{{#invalidToken}}
			<div class="alert alert-danger">
				Could not validate the provided token. Please check your email and try again.
			</div>
			{{/invalidToken}}

			{{^invalidToken}}
			{{#invalidPassword}}
			<div class="alert alert-danger">
				Please check your password and try again.
			</div>
			{{/invalidPassword}}

			<div class="form-group">
				<label for="newPassword">New Password</label>
				{{>authlib_fragments/user/password/password_info}}
				<input id="newPassword" name="newPassword" class="form-control" type="password" />
			</div>

			<div class="form-group">
				<label for="confirmPassword">Confirm New Password</label>
				<input id="confirmPassword" name="confirmPassword" class="form-control" type="password" />
			</div>
			
			<div class="form-group">
				<input id="token" name="token" type="hidden" value="{{token}}" />
				{{>authlib_fragments/forms/csrf_input}}
				<button class="btn btn-primary" type="submit">Submit</button>
			</div>
			{{/invalidToken}}
		</form>
	</div>
</div>