<div class="form-group">
	<label>Account Locked*</label>
	<select class="form-control" id="accountLocked" name="accountLocked">
		<option value="true" {{#user.accountLocked}}selected="selected"{{/user.accountLocked}}>Yes</option>
		<option value="false" {{^user.accountLocked}}selected="selected"{{/user.accountLocked}}>No</option>
	</select>
</div>
