<div class="form-group">
	<label>Consecutive Login Failures*</label>
	<input class="form-control" type="text" readonly="readonly" id="consecutiveLoginFailures" name="consecutiveLoginFailures" value="{{user.consecutiveLoginFailures}}" />
</div>