<div class="form-group">
	<label>Credentials Expired*</label>
	<select class="form-control" id="credentialsExpired" name="credentialsExpired" value="{{user.credentialsExpired}}">
		<option value="true" {{#user.credentialsExpired}}selected="selected"{{/user.credentialsExpired}}>Yes</option>
		<option value="false" {{^user.credentialsExpired}}selected="selected"{{/user.credentialsExpired}}>No</option>
	</select>
</div>
