<div class="form-group">
	<label>First Name*</label>
	<input id="firstName" class="form-control" type="text" id="firstName" name="firstName" value="{{#user.firstName}}{{.}}{{/user.firstName}}" />
</div>
