{{#error}}
<div class="alert alert-danger">
	{{^errorMessage}}
	There has been an unexpected problem saving this user.
	{{/errorMessage}}

	{{#errorMessage}}
	{{errorMessage}}
	{{/errorMessage}}
</div>
{{/error}}