<div class="form-group">
	{{#userRoles}}
	<p>
		<label><input {{#selected}}checked='checked'{{/selected}} type="checkbox" id="userRoles" name="userRoles" value="{{id}}" />
		{{label}}</label>
	</p>
	{{/userRoles}}
</div>
