<div class="form-group">
	<label>Username*</label>
	<input class="form-control" value="{{user.username}}" type="text" disabled="disabled" />
	<input type="hidden" id="username" name="username" value="{{user.username}}" />
</div>
