<div>
	<script type="text/javascript" src="{{req.contextPath}}/webjars/datatables/media/js/jquery.js"></script>
	<script type="text/javascript" src="{{req.contextPath}}/webjars/jquery-ui/jquery-ui.min.js"></script>
	<script type="text/javascript" src="{{req.contextPath}}/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{req.contextPath}}/webjars/datatables/media/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="{{req.contextPath}}/webjars/datatables/media/js/dataTables.bootstrap.min.js"></script>
	<script type="text/javascript" src="{{req.contextPath}}/js/default.js"></script>
</div>