<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{req.contextPath}}"><span class="glyphicon glyphicon-home"></span> Home</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			{{#isAdminOrSuper}}
			<ul class="nav navbar-nav">
				<li><a href="{{req.contextPath}}/admin/user/new"><span class="glyphicon glyphicon-user"></span> New User</a></li>
				<li><a href="{{req.contextPath}}/admin/user/list"><span class="glyphicon glyphicon-list"></span> List of Users</a></li>
			</ul>
			{{/isAdminOrSuper}}
			<ul class="nav navbar-nav navbar-right">
				{{#isLoggedIn}}
				<li><a href="{{req.contextPath}}/logout"><span class="glyphicon glyphicon-off"></span> Log Out ({{username}})</a></li>
				{{/isLoggedIn}}
				{{^isLoggedIn}}
				<li><a href="{{req.contextPath}}/login"><span class="glyphicon glyphicon-off"></span> Log In</a></li>
				{{/isLoggedIn}}
			</ul>
		</div>
	</div>
	</nav>