<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="javascript">
			<script type="text/javascript" th:src="@{/webjars/datatables/media/js/jquery.js}"></script>
			<script type="text/javascript" th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
			<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" />
			<script type="text/javascript" th:src="@{/webjars/datatables/media/js/jquery.dataTables.min.js}"></script>
			<script type="text/javascript" th:src="@{/webjars/datatables/media/js/dataTables.bootstrap.min.js}"></script>
			<script type="text/javascript" th:src="@{/js/default.js}"></script>
		</div>
	</body>
</html>
