<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="boolean_display(input_value)">
			<span th:class="${input_value} ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove'"></span>
		</div>

		<div th:fragment="date_display(date_value)">
			<span th:text="${date_value != null} ? ${#dates.format(date_value, 'yyyy-MM-dd')} : ''"></span>
		</div>

		<p th:fragment="roles_display(userRoles)" th:each="userRole : ${userRoles}">
			<span th:text="${userRole.description}">...</span>
		</p>

		<a th:fragment="edit_pencil(user_id)"
		   th:href="@{'/admin/user/edit/' + ${user.id}}">
		   	<span class="glyphicon glyphicon-pencil"></span>
		</a>
	</body>
</html>
