<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div class="container-fluid" th:fragment="new">
			<h3>New User</h3>
			<div th:if="${error} == true">
				<div class="alert alert-danger">
					There has been an unexpected problem saving this user.
				</div>
			</div>
			<form role="form" class="form" method="post" th:action="@{'/admin/user/new'}" th:object="${user}">
				<input type="hidden" id="contextPath" th:value="@{/admin/user/list}" />
				<div class="row">
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div th:replace="fragments/forms :: required" />
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-12">
						<h4>User Details</h4>
						<div th:replace="fragments/user :: usernameForNew" />
						<div th:if="${ldap}">
							<div th:replace="fragments/user :: ldapLookup" />
						</div>
						<div th:replace="fragments/user :: firstName" />
						<div th:replace="fragments/user :: lastName" />
						<div th:replace="fragments/user :: institution" />
						<div th:replace="fragments/user :: email" />
						<input th:replace="fragments/user :: hiddenPassword" />
						<h4>User Roles</h4>
						<div th:replace="fragments/user :: userRoles" />
					</div>
					<div class="col-lg-1 col-md-1">
					</div>
					<div class="col-lg-3 col-md-3 col-sm-12">
						<h4>Account Status</h4>
						<div th:replace="fragments/user :: enabled" />
						<div th:replace="fragments/user :: accountLocked" />
						<div th:replace="fragments/user :: accountExpired" />
						<div th:replace="fragments/user :: credentialsExpired" />
						<div th:replace="fragments/user :: accountExpirationDate" />
						<div th:replace="fragments/user :: credentialsExpirationDate" />
						<div th:replace="fragments/user :: consecutiveLoginFailures" />
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div th:replace="fragments/forms :: save_cancel_buttons" />
					</div>
				</div>
			</form>
		</div>
	</body>
</html>
		