<div class="col-xs-12 col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
	<div class="card card-outline-secondary">
		<div class="card-header">
			<h3 class="mb-0">{{formTitle}}</h3>
		</div>
		<div class="card-body">
			{{>authlib_fragments/user/password/password_info}}

			{{>components/messages}}
			<form id="password-form" class="form mt-3" role="form" autocomplete="off" action="{{req.contextPath}}{{formRoute}}" method="POST">
				{{! The presence of a token indicates a password reset - a change otherwise.
					i.e. The user doesn't know their current password. }}
				{{^token}}
				<div class="form-group">
					<label for="currentPassword">Current Password</label>
					<input id="currentPassword" name="currentPassword" class="form-control {{#currentPasswordIncorrect}}is-invalid{{/currentPasswordIncorrect}}" type="password" autofocus="true" required>
				</div>
				{{/token}}

				<div class="form-group">
					<label for="newPassword">New Password</label>
					<input id="newPassword" name="newPassword" class="form-control {{#passwordValidationError}}is-invalid{{/passwordValidationError}}" type="password" required>
				</div>

				<div class="form-group">
					<label for="confirmPassword">Confirm New Password</label>
					<input id="confirmPassword" name="confirmPassword" class="form-control {{#passwordValidationError}}is-invalid{{/passwordValidationError}}" type="password" required>
					<span class="form-text small text-muted">Type your new password again</span>
				</div>

				<div class="form-group mb-0">
					{{! Handles password reset token if present }}
					{{#token}}
					<input id="token" name="token" type="hidden" value="{{token}}" />
					{{/token}}
					
					{{>authlib_fragments/forms/csrf_input}}
					<button class="btn btn-primary mb-0" type="submit">Submit</button>
					<a href="{{req.contextPath}}/login" class="btn btn-link">Cancel</a>
				</div>
			</form>
		</div>
	</div>
	<!-- /form card change password --> 
</div>
