body {
	/* Keeps the body below the fixed navbar */
	padding-top:70px;
}

table.center-all td,th{
    text-align :center;
}

.dataTables_wrapper {
	margin-top: 20px;
}

/* Swap the default positioning of search filter and length input */
.dataTables_wrapper .dataTables_filter {
	float: left;
	text-align: left;
}

.dataTables_wrapper .dataTables_length {
	float: right;
}

.hidden {
	visibility:none;
	display:none;
}

.error-text {
	color:#a94442;
}
