	<div id="session_timeout_modal" class="modal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<p id="session_timeout_modal_message">You will automatically log out in 2 minutes. Use the button below to stay logged in.</p>
				</div>
				<div class="modal-footer">
					<button id="session_timeout_modal_keepalive_button" type="button" class="btn btn-primary" data-bs-dismiss="modal">Stay logged in</button>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="{{req.contextPath}}/assets/js/octri-session-timeout-modal.js"></script>
