<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/default.css}" />
    </head>
    <body>
		<nav th:replace="fragments/navbar :: navbar"/>
		<nav th:replace="fragments/login :: login"/>
		<script type="text/javascript" th:src="@{/webjars/datatables/media/js/jquery.js}"></script>
        <script type="text/javascript">
        		$(function() {
        			$('#username').focus();
        		});
        </script>
    </body>
</html>
