<!DOCTYPE html>
<html>
	<head>
		<title>List of Users</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		{{>fragments/css}}
	</head>
	<body>
		{{>fragments/navbar}}
		{{>fragments/admin/user/list}}
		{{>fragments/assets}}
	</body>
</html>
