<!DOCTYPE html>
<html>
	<head>
		<title>List of Users</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="{{req.contextPath}}/webjars/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="{{req.contextPath}}/webjars/datatables/media/css/dataTables.bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="{{req.contextPath}}/css/default.css" />
	</head>
	<body>
		{{>fragments/navbar}}
		{{>fragments/admin/user/list}}
		{{>fragments/assets}}
	</body>
</html>
