{{! This is the default template for displaying a login form. It wraps the form in a container with column classes. If you want just the form use `login_form.mustache` }}
<div class="container-fluid">
	<div class="col-xs-12 col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
        {{>authlib_fragments/login_form}}
	</div>
</div>
