<div class="container-fluid">
	 <div class="col-xs-12 col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
		<h3>Initiate a Password Reset</h3>
		<form class="form" action="{{req.contextPath}}/user/password/forgot" method="POST">
			{{>components/messages}}

			<div class="form-group">
				<label for="email" class="form-label">Enter an email address</label>
				<input id="email" name="email" class="form-control" type="email" autofocus="true" />
			</div>
			
			<div class="form-group">
				{{>authlib_fragments/forms/csrf_input}}
				<button class="btn btn-primary" type="submit">Submit</button>
				<a href="{{req.contextPath}}/login" class="btn btn-link">Cancel</a>
			</div>
		</form>
	</div>
</div>