<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Password Requirements Fragments</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="ctx" th:content="@{/}"/>
	</head>
	<body>
		<span th:fragment="passwordInfo" class="glyphicon glyphicon glyphicon-info-sign"
			   data-action="popover"
			   data-content="
			   &lt;h4&gt;Password Requirements&lt;/h4&gt;
			   &lt;p&gt;Minimum 8 characters.&lt;/p&gt;
			   &lt;p&gt;Must include both a letter and number.&lt;/p&gt;
			   &lt;p&gt;Must include one of: a capatilized letter, punctuation, or symbol.&lt;/p&gt;
			   &lt;p&gt;Must not include words found in a dictionary or your username.&lt;/p&gt;
			   "></span>
	</body>
</html>