<!DOCTYPE html>
<html>
	<head>
		<title>Reset Password</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="ctx" content="{{req.contextPath}}/"/>
		{{>authlib_fragments/css}}
	</head>
	<body class="authlib">
		{{>authlib_fragments/navbar}}
		{{>authlib_fragments/user/password/reset}}
		{{>authlib_fragments/assets}}
		<script type="text/javascript">
			$(function() {
				var password = $('#password');
				password.focus();
				var show = $('input[data-action="show-password"]');
				show.on('click', function() {
					if (show.is(':checked')) {
						password.attr('type', 'text');
					} else {
						password.attr('type', 'password');
					}
					password.focus();
				});
			});
		</script>
	</body>
</html>