<div class="container-fluid authlib-user-form">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<h3>{{pageTitle}}</h3>

			{{! These errors are parsed by authlib.js }}
			{{#errors}}
				<input type="hidden" data-error="true" data-field="{{field}}" data-message="{{defaultMessage}}" />
			{{/errors}}

			{{>authlib_fragments/forms/user/user_save_error}}

			<div class="text-muted">
				<p>* denotes a required field</p>
			</div>

			{{#passwordResetUrl}}
			<div class="alert alert-info">
				The following URL may be sent to the user allowing them to reset their password.
				<br>
				{{.}}
			</div>
			{{/passwordResetUrl}}
			{{#showNewTokenButton}}
			<form id="password_token_form" role="form" class="form mb-2" method="post" action="{{req.contextPath}}/admin/password/token/refresh?userId={{#user}}{{id}}{{/user}}">
				{{>authlib_fragments/forms/csrf_input}}
				<button type="submit" class="btn btn-outline-primary">Generate password reset token</button>
				<p class="small text-secondary mt-2">Navigating to the generated url allows a user to set their login credentials.</p>
			</form>
			{{/showNewTokenButton}}

			{{#allowPasswordGeneration}}
			<form id="temporary_password_form" role="form" class="form mb-2" method="post" action="{{req.contextPath}}/admin/password/generate?userId={{#user}}{{id}}{{/user}}">
				{{>authlib_fragments/forms/csrf_input}}
				<button type="submit" class="btn btn-outline-primary">Generate temporary password</button>
				<p class="small text-secondary mt-2">Expire the user's existing credentials and set the password to a new generated value. Users will be prompted for a password change on login.</p>
			</form>
			{{#generatedPassword}}
			<div class="alert alert-info">
				User temporary password set to:
				<br>
				{{.}}
			</div>
			{{/generatedPassword}}
			{{/allowPasswordGeneration}}

		</div>
	</div>

	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<form id="user_form"
				role="form"
				class="form needs-validation"
				method="post"
				{{#newUser}}
				action="{{req.contextPath}}/admin/user/create"
				{{/newUser}}
				{{^newUser}}
				action="{{req.contextPath}}/admin/user/update"
				{{/newUser}}
				novalidate
				{{#ldapEmailDomain}}data-ldap-email-domain="{{.}}"{{/ldapEmailDomain}}
				{{#usernameStyle}}data-username-style="{{.}}"{{/usernameStyle}}
			>
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-12">
						<h4>User Details</h4>

						{{#newUser}}
						<div class="form-group">
							<label for="username" class="form-label">Username*</label>
							<input id="username" class="form-control lookup-user" autocomplete="off" type="text" name="username" value="{{#user.username}}{{.}}{{/user.username}}" required maxlength="320" aria-describedby="username_info" />
							<div class="valid-feedback">Username is available</div>
							<div class="invalid-feedback">Value must be present</div>
						</div>

							{{#multipleAuthenticationMethods}}
							<div class="form-group">
								<label for="authentication_method" class="form-label">Account Type*</label>
								<select id="authentication_method" name="authenticationMethod" class="form-select" required>
									<option value="">Select an account type</option>
									{{#authenticationMethods}}
									<option value="{{value}}" {{#selected}}selected{{/selected}}>{{label}}</option>
									{{/authenticationMethods}}
								</select>
							</div>
							{{/multipleAuthenticationMethods}}

							{{^multipleAuthenticationMethods}}
							{{#authenticationMethods}}
							<input type="hidden" id="authentication_method" name="authenticationMethod" value="{{value}}">
							{{/authenticationMethods}}
							{{/multipleAuthenticationMethods}}
						{{/newUser}}

						{{^newUser}}
						<div class="form-group">
							<label for="username" class="form-label">Username*</label>
							<input class="form-control" value="{{user.username}}" type="text" disabled>
							<input type="hidden" id="username" name="username" value="{{user.username}}">
							<input class="form-control" type="hidden" id="id" name="id" value="{{user.id}}">
						</div>

						<div class="form-class">
							<label for="authentication_method" class="form-label">Account Type*</label>
							<input class="form-control" value="{{user.authenticationMethod.label}}" type="text" disabled>
							<input type="hidden" id="authentication_method" name="authenticationMethod" value="{{user.authenticationMethod}}">
						</div>
						{{/newUser}}

						{{#ldapEnabled}}
						<div class="form-group">
							<div id="ldap_error" class="text-danger small invisble mb-1"></div>
							<button id="ldap_lookup" class="btn btn-primary" disabled>Search for User</button>
						</div>
						{{/ldapEnabled}}

						<div class="form-group">
							<label for="first_name" class="form-label">First Name*</label>
							<input id="first_name" class="form-control" type="text" name="firstName" value="{{#user.firstName}}{{.}}{{/user.firstName}}" required maxlength="50" />
							<div class="invalid-feedback">Value must be present and &lt;= 50 characters</div>
						</div>

						<div class="form-group">
							<label for="last_name" class="form-label">Last Name*</label>
							<input id="last_name" class="form-control" type="text"name="lastName" value="{{#user.lastName}}{{.}}{{/user.lastName}}" required maxlength="50" />
							<div class="invalid-feedback">Value must be present and &lt;= 50 characters</div>
						</div>

						<div class="form-group">
							<label for="institution" class="form-label">Institution</label>
							<input id="institution" class="form-control" type="text" id="institution" name="institution" value="{{#user.institution}}{{.}}{{/user.institution}}" maxlength="100" />
							<div class="invalid-feedback">Value must be &lt;= 100 characters</div>
						</div>

						<div class="form-group">
							<label for="email" class="form-label">Email{{#emailRequired}}*{{/emailRequired}}</label>
							<input id="email" class="form-control" type="email" id="email" name="email" value="{{#user.email}}{{.}}{{/user.email}}" {{#emailRequired}}required{{/emailRequired}} maxlength="320" />
							<div class="invalid-feedback">Email must be valid and &lt;= 320 characters</div>
						</div>

						{{! Render the role selection UI for the configured role style. }}
						{{#singleRoleStyle}}
						{{>authlib_fragments/admin/user/roles/single}}
						{{/singleRoleStyle}}

						{{#multipleRoleStyle}}
						{{>authlib_fragments/admin/user/roles/multiple}}
						{{/multipleRoleStyle}}

						{{#customRoleStyle}}
						{{>authlib_fragments/admin/user/roles/custom}}
						{{/customRoleStyle}}

						{{>authlib_fragments/admin/user/app_fields}}
					</div>
					<div class="col-lg-3 col-md-3 col-sm-12 col-lg-offset-1 col-md-offset-1">
						<h4>Account Status</h4>

						<div class="form-group">
							<label for="enabled" class="form-label">Enabled*</label>
							<select class="form-select" id="enabled" name="enabled" required>
								<option value="true" {{#user.enabled}}selected="selected"{{/user.enabled}}>Yes</option>
								<option value="false" {{^user.enabled}}selected="selected"{{/user.enabled}}>No</option>
							</select>
						</div>

						<div class="form-group">
							<label for="account_locked" class="form-label">Account Locked*</label>
							<select class="form-select" id="account_locked" name="accountLocked" required>
								<option value="true" {{#user.accountLocked}}selected="selected"{{/user.accountLocked}}>Yes</option>
								<option value="false" {{^user.accountLocked}}selected="selected"{{/user.accountLocked}}>No</option>
							</select>
						</div>

						<div class="form-group">
							<label for="account_expiration_date" class="form-label">Account Expiration Date</label>
							<input class="form-control" type="text" placeholder="e.g. 01/01/2024" id="account_expiration_date" name="accountExpirationDate" value="{{#user.accountExpirationDateView}}{{.}}{{/user.accountExpirationDateView}}" />
						</div>

						<div class="form-group">
							<label for="credentials_expiration_date" class="form-label">Credentials Expiration Date</label>
							<input class="form-control" type="text" placeholder="e.g. 01/01/2024" id="credentials_expiration_date" name="credentialsExpirationDate" value="{{#user.credentialsExpirationDateView}}{{.}}{{/user.credentialsExpirationDateView}}" />
						</div>

						<div class="form-group">
							<label for="consecutive_login_failures" class="form-label">Consecutive Login Failures*</label>
							<input class="form-control" type="text" readonly="readonly" id="consecutive_login_failures" name="consecutiveLoginFailures" value="{{#user.consecutiveLoginFailures}}{{.}}{{/user.consecutiveLoginFailures}}" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="form-controls">
							{{>authlib_fragments/forms/csrf_input}}
							<button name="save" type="submit" class="btn btn-primary" value="save">Save</button>
							<a class="btn btn-link cancelUserForm">Cancel</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>